<div align="center" class="row">
  <br>
  <div class="col-sm-2">
    <img src="http://www.indinnovation.com/images/icons/innovation.png" height="70" width="70">
  </div>
  <div class="col-sm-8">
    <h1 align="center">Auth0 Playground</h1>
  </div>
  <div class="col-sm-2">
    <br>
    <a class="btn btn-default" href="/" role="button">Home</a>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-sm-12">

    <h3 align="center">Error</h3>
    <pre align="center"><%= error %></pre>

  </div>
</div>