<script type="text/javascript">

    function submitEmail(username) {

        var loginUsername = username;

        var data = "{\n\t\"username\": \"" + loginUsername + "\",\n\t\"connection\": \"AWS-MySQL-Auth0-Schema\"}"


        $.ajax({
            url: '<%= legacy_reset_password_url %>',
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            processData: false,
            data: data,
            success: function (data) {
                $('#authn_response').text('A link has been sent to \n\n' + data + '\n\nCheck the inbox!');
            },
            error: function (data) {
                $('#authn_response').text('Reset Password Failed\n\n' + data.responseText);
            }
        })
    }

    $(function () {

        $('#reset-password-form').on('submit', function (e) {
            e.preventDefault();

            username = document.getElementById('txtUsername').value

            submitEmail(username);
        })

    })

</script>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico" />
</head>

<br>
<div align="center" class="row">
    <div class="col-sm-2">
        <img src="https://image.flaticon.com/icons/png/512/55/55160.png" height="100" width="100">
    </div>
    <div class="col-sm-8">
        <h1 align="center">Legacy Reset Password</h1>
    </div>
    <div class="col-sm-2">
        <br>
        <a class="btn btn-default" href="/legacyLogin" role="button">Legacy Login</a>
        <br>
        <br>
        <a class="btn btn-default" href="/legacySignUp" role="button">Legacy Sign Up</a>
    </div>
</div>
</div>

<div align="center" id="login_row" class="row">
    <div class="col-sm-12">
        <form id=reset-password-form action="/login_form" method="post">
            <input type="email" placeholder="Email" id="txtUsername">
            <input type="submit" value="Reset Password">
        </form>
        <pre align="center" id="authn_response">Enter Your Email to Receive a Reset Password Link</pre>
    </div>
    <br>
    <h6><i>Please note: As this demo is on a Free Heroku licence, SSL is <b>NOT</b> configured</i></h6>
    <h6><i>For Production use, SSL <b>MUST</b> be configured</i></h6>
</div>