<script type="text/javascript">

    function submitPassword(username, password, newPassword) {

        var loginUsername = username;
        var loginPassword = password;
        var newLoginPassword = newPassword;

        var data = "{\n\t\"username\": \"" + loginUsername + "\",\n\t\"password\": \"" + loginPassword + "\",\n\t\"newPassword\": \"" + newLoginPassword + "\"}"


        $.ajax({
            url: '<%= legacy_change_password_url %>',
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            processData: false,
            data: data,
            success: function (data) {
                $('#authn_response').text('Your Password has been updated successfully for ' + JSON.stringify(data));
            },
            error: function (data) {
                $('#authn_response').text('Authentication Failed\n\nYou must enter your existing credentials to change you password and make sure your new password is over 8 characters in length\n\n' + data.responseText);
            }
        })
    }



    $(function () {

        $('#change-password-form').on('submit', function (e) {
            e.preventDefault();

            username = document.getElementById('txtUsername').value
            password = document.getElementById('txtPassword').value
            newPassword = document.getElementById('txtNewPassword').value

            submitPassword(username, password, newPassword);
        })

    })

</script>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico" />
</head>

<br>
<div align="center" class="row">
    <div class="col-sm-2">
        <img src="https://image.flaticon.com/icons/png/512/55/55160.png" height="100" width="100">
    </div>
    <div class="col-sm-8">
        <h1 align="center">Legacy Change Password</h1>
    </div>
    <div class="col-sm-2">
        <br>
        <a class="btn btn-default" href="/" role="button">Home</a>
    </div>
</div>

<div align="center" id="login_row" class="row">
    <div class="col-sm-12">
        <form id=change-password-form action="/login_form" method="post">
            <input type="email" placeholder="Email" id="txtUsername">
            <br>
            <input type="password" placeholder="Current Password" id="txtPassword">
            <br>
            <br>
            <input type="password" placeholder="New Password" id="txtNewPassword">
            <br>
            <br>
            <input type="submit" value="Change Password">
        </form>
        <pre align="center" id="authn_response">You are not Signed In</pre>
    </div>
    <h6><i>Please note: As this demo is on a Free Heroku licence, SSL is <b>NOT</b> configured</i></h6>
    <h6><i>For Production use, SSL <b>MUST</b> be configured</i></h6>
</div>